---
// eslint-disable-next-line import/no-unresolved
import { Image } from "@astrojs/image/components";

import ExternalLink from "../utils/ExternalLink.astro";
import { formatDateToLocaleDate } from "../utils/formatDates.js";
import Icon from "../utils/Icon.astro";
import Share from "./Share.astro";
import TagList from "./TagList.astro";

export interface Props {
  title: string;
  imgUrl: string;
  imgAuthor: string;
  imgAuthorUrl: string;
  pubDate: string;
  tags: string;
  readingTime: number;
}

const { title, imgUrl, imgAuthor, imgAuthorUrl, pubDate, tags, readingTime } =
  Astro.props;

const formattedDate = formatDateToLocaleDate(new Date(pubDate));
const formattedReadingTime = `${readingTime} min read`;
---

<div class="flex flex-col items-center">
  <h1 class="text-5xl leading-snug md:text-6xl">
    {title}
  </h1>
  <div
    class="mt-4 text-lg leading-snug text-gray-500 dark:text-gray-400 md:mt-6 md:text-xl"
  >
    <Icon
      iconSet="fluent-emoji-high-contrast"
      name="tear-off-calendar"
      classString="align-text-top w-5 h-5"
    />
    {formattedDate} | <Icon
      iconSet="fluent-emoji-high-contrast"
      name="eight-oclock"
      classString="align-text-top w-5 h-5"
    />
    {formattedReadingTime} | <Icon
      iconSet="fluent-emoji-high-contrast"
      name="keycap-hashtag"
      classString="align-text-top w-5 h-5"
    />
    <TagList tags={tags} />
  </div>
  <div class="mt-8 shadow-xl md:mt-10">
    <Image src={imgUrl} width={600} height={337.5} alt="Blogpost cover" />
  </div>
  <div class="mt-4 text-sm">
    Photo by <ExternalLink href={imgAuthorUrl}>{imgAuthor}</ExternalLink>
  </div>
  <div class="mt-3">
    <Share />
  </div>
</div>
