---
// eslint-disable-next-line import/no-unresolved
import { Image } from "astro:assets";

import TagList from "../tags/TagList.astro";
import ExternalLink from "../utils/ExternalLink.astro";
import { formatDateToLocaleDate } from "../utils/formatDates.js";
import Icon from "../utils/Icon.astro";
import Share from "../utils/Share.astro";

export interface Props {
  title: string;
  cover: string;
  coverAuthor?: string;
  coverAuthorUrl?: string;
  pubDate: string;
  upDate?: string;
  tags: string;
  readingTime: number;
}

const {
  title,
  cover,
  coverAuthor,
  coverAuthorUrl,
  pubDate,
  upDate,
  tags,
  readingTime,
} = Astro.props;

const formattedPubDate = formatDateToLocaleDate(new Date(pubDate));
const formattedUpDate = upDate
  ? formatDateToLocaleDate(new Date(upDate))
  : undefined;
const formattedReadingTime = `${readingTime} min read`;
---

<div class="flex flex-col items-center">
  <h1 class="text-5xl leading-snug md:text-6xl">
    {title}
  </h1>
  <div
    class={`mt-4 flex flex-col items-center gap-1 whitespace-nowrap text-lg leading-snug text-gray-500 dark:text-gray-400 md:mt-6 md:text-xl ${
      formattedUpDate ? "lg:flex-row" : "sm:flex-row"
    }`}
  >
    <div class="flex items-center gap-1 whitespace-normal">
      <Icon
        iconSet="fluent-emoji-high-contrast"
        name="tear-off-calendar"
        classString="w-5 h-5"
      />
      {formattedPubDate}
      {formattedUpDate && <> (Updated: {formattedUpDate})</>}
      <div
        class={`hidden ${
          formattedUpDate ? "lg:inline-block" : "sm:inline-block"
        }`}
      >
        |
      </div>
    </div>
    <div class="flex gap-1">
      <Icon
        iconSet="fluent-emoji-high-contrast"
        name="eight-oclock"
        classString="w-5 h-5"
      />
      {formattedReadingTime}
      <div
        class={`hidden ${
          formattedUpDate ? "lg:inline-block" : "sm:inline-block"
        }`}
      >
        |
      </div>
    </div>
    <div class="flex gap-1">
      <Icon
        iconSet="fluent-emoji-high-contrast"
        name="keycap-hashtag"
        classString="align-sub w-5 h-5"
      />
      <div class="flex flex-wrap">
        <TagList tags={tags} />
      </div>
    </div>
  </div>
  <div class="mt-8 grid grid-cols-1 shadow-xl md:mt-10">
    <div class="z-10 col-start-1 row-start-1">
      <Image
        src={cover}
        width={600}
        height={337.5}
        alt="Blogpost cover"
        transition:name={`post-cover-${title}`}
      />
    </div>
    <div
      class="z-0 col-start-1 row-start-1 animate-pulse bg-gray-300 dark:bg-gray-600"
      transition:name={`post-cover-loading-${title}`}
    >
    </div>
  </div>
  {
    coverAuthor && coverAuthorUrl && (
      <div class="mt-4 text-sm">
        Photo by{" "}
        <ExternalLink href={coverAuthorUrl}>{coverAuthor}</ExternalLink>
      </div>
    )
  }
  {
    coverAuthor && !coverAuthorUrl && (
      <div class="mt-4 text-sm">Photo by {coverAuthor}</div>
    )
  }
  <div class="mt-4">
    <Share />
  </div>
</div>
