---
// eslint-disable-next-line import/no-unresolved
import { getCollection } from "astro:content";

import { getLiveLearned } from "../../components/learned/filterLearned";
import LearnedOverview from "../../components/learned/Overview.astro";
import { sortLearnedByDate } from "../../components/learned/sortLearned";
import { getLivePosts } from "../../components/posts/filterPosts";
import PostOverview from "../../components/posts/Overview.astro";
import { sortPostsByDate } from "../../components/posts/sortPosts";
import { getTags } from "../../components/tags/sortTags";
import Button from "../../components/utils/Button.astro";
import Divider from "../../components/utils/Divider.astro";
import Layout from "../../layouts/Layout.astro";

const { tag } = Astro.params;

const posts = sortPostsByDate(getLivePosts(await getCollection("posts")));
const postsWithTag = posts.filter((post) => {
  if (tag === undefined) {
    return false;
  }
  const postTags = getTags(post.data.tags);
  return postTags.includes(tag);
});

const learned = sortLearnedByDate(
  getLiveLearned(await getCollection("learned")),
);
const learnedWithTag = learned.filter((learning) => {
  if (tag === undefined) {
    return false;
  }
  const learnedTags = getTags(learning.data.tags);
  return learnedTags.includes(tag);
});

// Catch invalid URLs
if (postsWithTag.length === 0 && learnedWithTag.length === 0) {
  return Astro.redirect("/404");
}
---

<Layout
  title={`Tag ${tag} | The Frontview`}
  description={`Overview page of all the posts and Today I Learned articles with the tag "${tag}" on my blog, sorted by date from most recent to oldest.`}
>
  <h1 class="mb-8 mt-12 text-6xl md:mb-16 md:mt-24">
    Tag <span transition:name={`tag-${tag}`}>{tag}</span>
  </h1>
  {
    postsWithTag.length > 0 && (
      <>
        <h2 class="text-4xl">Posts</h2>
        <div class="mt-2 md:mt-4">
          <Divider noSpacing />
        </div>
        <div class="mt-2 md:mt-4">
          <PostOverview posts={postsWithTag} prefetch="hover" />
        </div>
      </>
    )
  }
  {
    learnedWithTag.length > 0 && (
      <>
        <h2 class="mt-6 text-4xl md:mt-12">Today I Learned articles</h2>
        <div class="mt-2 md:mt-4">
          <Divider noSpacing />
        </div>
        <div class="mt-2 md:mt-4">
          <LearnedOverview learned={learnedWithTag} prefetch="hover" />
        </div>
      </>
    )
  }
  <div class="mt-4 flex justify-center md:mt-8 lg:mt-16">
    <Button href="/tags" prefetch>Back to tags</Button>
  </div>
</Layout>
