---
import { Image } from "@astrojs/image/components";

import { formatDateToLocaleDate } from "../utils/formatDates";

export interface Props {
  title: string;
  imgUrl: string;
  pubDate: string;
  readingTime: string;
  url: string;
  prefetch: boolean;
}

const { title, imgUrl, pubDate, readingTime, url, prefetch } = Astro.props;

const formattedDate = formatDateToLocaleDate(new Date(pubDate));
---

<a href={url} rel={prefetch ? "prefetch" : ""}>
  <div
    class="min-h-[17.5rem] max-w-[17rem] overflow-hidden rounded-xl shadow-lg outline outline-2 outline-gray-600 duration-200 hover:scale-105 hover:shadow-xl hover:outline-4 hover:outline-offset-8 hover:outline-teal-500"
  >
    <Image src={imgUrl} width={600} aspectRatio={16 / 9} alt="Blogpost cover" />
    <div class="p-5">
      <h3 class="text-gray-400">{formattedDate} | {readingTime} min read</h3>
      <h2 class="line-clamp-2 mt-1 text-xl">{title}</h2>
    </div>
  </div>
</a>
