---
import type { Post } from "../../typings/Post";
import Card from "./Card.astro";

export interface Props {
  posts: Post[];
  prefetch?: boolean;
}

const { posts, prefetch = false } = Astro.props;
---

<ul class="grid justify-items-center gap-8 p-4 md:grid-cols-3 lg:gap-16">
  {
    posts.map((post) => (
      <>
        <li class="list-none">
          <Card
            title={post.frontmatter.title}
            imgUrl={post.frontmatter.imgUrl}
            pubDate={post.frontmatter.pubDate}
            readingTime={post.frontmatter.readingTime}
            url={post.url || ""}
            prefetch={prefetch}
          />
        </li>
      </>
    ))
  }
</ul>
