---
import Header from '../components/posts/Header.astro';
import HeadingLinkSvg from '../components/posts/HeadingLinkSvg.astro';
import { getTags } from '../components/tags/sortTags';
import Divider from '../components/utils/Divider.astro';
import Giscus from '../components/utils/Giscus.astro';
import PhotoSwipe from '../components/utils/PhotoSwipe.astro';
import ScrollBar from '../components/utils/ScrollBar.astro';
import Share from '../components/utils/Share.astro';
import type { PostsCollection } from '../content/config';
import Layout from './Layout.astro';

export interface Props {
  frontmatter: PostsCollection['data'];
  readingTime: number;
}

const { frontmatter, readingTime } = Astro.props;

const pubDate = new Date(frontmatter.pubDate).toISOString();
const upDate = frontmatter.upDate
  ? new Date(frontmatter.upDate).toISOString()
  : undefined;
const tags = getTags(frontmatter.tags);
const defaultOpenGraphType = 'article';
const defaultOpenGraphImageAlt = 'Post - Open Graph Image';
const defaultOpenGraphArticleAuthor = ['Marvin Stickel'];
const defaultTwitterCard = 'summary_large_image';
---

<Layout
  title={`${frontmatter.title} | The Frontview`}
  description={frontmatter.description}
  openGraphTitle={frontmatter.title}
  openGraphType={defaultOpenGraphType}
  openGraphImageAlt={defaultOpenGraphImageAlt}
  openGraphArticlePublishedTime={pubDate}
  openGraphArticleModifiedTime={upDate}
  openGraphArticleAuthor={defaultOpenGraphArticleAuthor}
  openGraphArticleSection={tags[0]}
  openGraphArticleTags={tags}
  twitterCard={defaultTwitterCard}
>
  <ScrollBar />
  <div class="mt-12 md:mt-24">
    <Header
      title={frontmatter.title}
      cover={frontmatter.cover}
      coverAuthor={frontmatter.coverAuthor}
      coverAuthorUrl={frontmatter.coverAuthorUrl}
      pubDate={frontmatter.pubDate}
      upDate={frontmatter.upDate}
      tags={frontmatter.tags}
      readingTime={readingTime}
    />
  </div>
  <div class="my-4 md:my-8">
    <Divider noSpacing />
  </div>
  <article>
    <slot />
  </article>
  <div class="mb-4 mt-8 md:mb-8 md:mt-16">
    <Divider noSpacing />
  </div>
  <div class="flex justify-center">
    <Share />
  </div>
  <div class="mt-6">
    <Giscus />
  </div>
  <HeadingLinkSvg />
  <PhotoSwipe />
</Layout>
