---
// eslint-disable-next-line import/no-unresolved
import { Image } from "@astrojs/image/components";

export interface Props {
  src: string;
  alt: string;
  gif?: boolean;
  width?: number;
  aspectRatio?: number;
  format?: string;
}

const defaultWidth = 500;
const defaultAspectRatio = 4 / 3;
const defaultGifFormat = "webp";

const {
  src,
  alt,
  gif,
  width = defaultWidth,
  aspectRatio = defaultAspectRatio,
  format = gif ? defaultGifFormat : undefined,
} = Astro.props;
---

<div class="image-component flex flex-col items-center">
  <Image
    src={src}
    alt={alt}
    width={width}
    aspectRatio={aspectRatio}
    format={format}
    class="shadow-xl"
  />
  <div class="mt-4">
    <slot />
  </div>
</div>
