---
// eslint-disable-next-line import/no-unresolved
import { Image } from "@astrojs/image/components";
import type { OutputFormat } from "@astrojs/image/dist/loaders/index.js";

export interface Props {
  src: string;
  alt: string;
  gif?: boolean;
  width?: number;
  height?: number;
  aspectRatio?: number;
  format?: OutputFormat;
}

const defaultWidth = 500;
// Workaround for `height` becoming required even though it is technically still optional
const defaultHeight = undefined as unknown as number;
const defaultAspectRatio = 4 / 3;
const defaultGifFormat = "webp";

const {
  src,
  alt,
  gif,
  width = defaultWidth,
  height = defaultHeight,
  aspectRatio = defaultAspectRatio,
  format = gif ? defaultGifFormat : undefined,
} = Astro.props;
---

<div class="image-component flex flex-col items-center">
  <div class="shadow-xl">
    <Image
      src={src}
      alt={alt}
      width={width}
      height={height}
      aspectRatio={aspectRatio}
      format={format}
    />
  </div>
  <div class="mt-4">
    <slot />
  </div>
</div>
