---
import Icon from "../utils/Icon.astro";
import FacebookIcon from "./icons/FacebookIcon.astro";
import LinkedInIcon from "./icons/LinkedInIcon.astro";
import MastodonIcon from "./icons/MastodonIcon.astro";
import TwitterIcon from "./icons/TwitterIcon.astro";
import XingIcon from "./icons/XingIcon.astro";

const iconStyle =
  "fill-gray-500 transition-colors duration-300 hover:fill-teal-700 dark:fill-gray-400 active:!fill-teal-400 active:duration-100 dark:hover:fill-teal-500 dark:active:!fill-teal-700";
---

<div class="flex items-center gap-2">
  <Icon
    iconSet="fluent"
    name="share-24-filled"
    classString="w-5 h-5 mr-1 mb-1 text-gray-500 dark:text-gray-400"
  />
  <a
    href={`https://www.addtoany.com/add_to/twitter?linkurl=${Astro.url.href}`}
    target="_blank"
    rel="noopener, noreferrer"
    class={iconStyle}
  >
    <TwitterIcon />
  </a>
  <a
    href={`https://www.addtoany.com/add_to/mastodon?linkurl=${Astro.url.href}`}
    target="_blank"
    rel="noopener, noreferrer"
    class={`${iconStyle} w-6`}
  >
    <MastodonIcon />
  </a>
  <a
    href={`https://www.addtoany.com/add_to/facebook?linkurl=${Astro.url.href}`}
    target="_blank"
    rel="noopener, noreferrer"
    class={iconStyle}
  >
    <FacebookIcon />
  </a>
  <a
    href={`https://www.addtoany.com/add_to/linkedin?linkurl=${Astro.url.href}`}
    target="_blank"
    rel="noopener, noreferrer"
    class={iconStyle}
  >
    <LinkedInIcon />
  </a>
  <a
    href={`https://www.addtoany.com/add_to/xing?linkurl=${Astro.url.href}`}
    target="_blank"
    rel="noopener, noreferrer"
    class={iconStyle}
  >
    <XingIcon />
  </a>
</div>
